<h2 class="text-center lead">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Name" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :password %><br><small>(leave blank if you don't want to change it)</small>
        <%= f.password_field :password, autocomplete: "off",  class: "form-control", placeholder: "New password" %>
        <% if @minimum_password_length %>
        <small><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
      </div>
      <div class="form-group">
        <small>(we need your current password to confirm your changes)</small>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password" %>
      </div>
        <div class="actions">
            <%= f.submit "Update", class: "btn btn-success" %>
        </div>
        <% end %>
    <hr>
      <div class="form-group text-center">    
        <h3 class="lead">Cancel my account</h3>
        <p class="text-center">Unhappy?</p>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
    <div class="col-md-4"></div>
</div>

<%= link_to "< Back", :back %>
