<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <p><%= @person.category.title %><small class="text-muted"> | <%= @person.location %></small></p>
      <hr>
 <!-- <img src="https://lh3.googleusercontent.com/DxNrfscPLqkWayDsoMHen7wF9wtmIEQpeHfQsnsE4qekwj6BlvnACEbyac48mgYNGg3LACTXfgm7kA=w1280-h756-rw-no" width="auto" height="200" > -->
  <h1 class=""><strong><%= @person.name %></strong></h1>
  <p class="lead"><%= @person.about %></p>
  
  <p>
    <%= mail_to @person.email, @person.email, class: "btn btn-primary btn-sm" %>
    <%= link_to "Site",@person.site, target: "_blank", class: "btn btn-primary btn-sm" %>
    <%= link_to "Facebook",@person.facebook, target: "_blank", class: "btn btn-primary btn-sm" %>
    <%= link_to "Linkedin",@person.linkedin, target: "_blank", class: "btn btn-primary btn-sm" %>
    <%= link_to "Github",@person.github, target: "_blank", class: "btn btn-primary btn-sm" %>
  </p>

  <p>
    <small>phone:</small>
    <strong><%= @person.phone %></strong>
  </p>
  
  <p>
    <div class="alert alert-info">
    <small>skills:</small>
    <span class="alert-link"><%= @person.skill %></span>
    </div>
  </p>
    <small>ID: <%= @person.id %></small>

  </div>
  <%= link_to '< Back', people_path %> |
  <%= link_to 'Edit', edit_person_path(@person) %>
  <%= link_to 'Delete member', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger float-right" %>
  
  <br><br>
