<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<h1 class="lead">Categories</h1>

<div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td scope="row"><%= category.id %></td>
              <td><%= link_to category.title, category %></td>
              <td><%= category.description %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
<br>

<%= link_to 'New category', new_category_path, class: "btn btn-primary" %>

  <% else %>
  <h1 class="text-center text-muted">You are not logged in... :'(</h1>
  <p class="text-center">
    <%= link_to "Clique here to Login", new_user_session_path, :class => 'btn btn-primary btn-lg'  %>
  </p>
<% end %>