<!DOCTYPE html>
<html>
<head>
  <title>MembersList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div class="container">

    <div class="navbar-header">
      <%= current_page?(people_path) ? '' : '' %><%= link_to 'Members'.html_safe, people_path %> | 
      <%= current_page?(categories_path) ? '' : '' %><%= link_to 'Categories'.html_safe, categories_path %>
    </div>

  <br>
  <p class="text-center">
    <img src="http://utu.agency/wp-content/uploads/2016/07/logo.svg" width="90" height="auto"><br>
    <small>utu.agency</small>
  </p>
  <%= yield %>
</div>

</body>
</html>
